<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 500</title>
	<link rel="stylesheet" href="{% static 'PocketGarage/css/style1.css' %}" type="text/css">
</head>
<body>
	<section>
	<center>
		<h1 style="color:white">Oops!</h1>
		<h1 style="color:white">Error 500 - EL SERVIDOR TUVO UN PROBLEMA! :(</h1>
	</center>
	</section>
</body>
</html>