<!doctype html>
<html lang="en" class="no-js">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Pocket Garage - Vehículos</title>
    <meta name="description" content="Todo lo relacionado al mundo automotriz.">
	<link rel="stylesheet" href="{% static 'PocketGarage/css/style1.css' %}" type="text/css">
</head>

<body>
	<header>
		<div id="logo">POCKET GARAGE</div>
		<nav>  
			<ul>
				<li><a href="/PocketGarage/index10.html">Inicio</a>
				<li><a href="/PocketGarage/index30.html">Repuestos</a>
				<li><a href="/PocketGarage/repuesto.html">Publicar Repuesto</a></li>
				<li><a href="/PocketGarage/vehiculo.html">Publicar Vehiculo</a></li>
				<li><a href="/PocketGarage/index2.html">Cerrar Sesion</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<strong style="color:white">Aquí te mostramos el catálogo de todos los autos que tenemos disponibles.</strong>
	</section>
	<section>
		{% for vehiculo in Vehiculos %}
			<img src="/media/{{ vehiculo.Foto }}" width="500" height="300"><br>
			<p style="color:white">
				Modelo: {{ vehiculo.Modelo }}<br>
				Precio: {{ vehiculo.Precio }}<br>
				Ficha Técnica: {{ vehiculo.FichaTecnica }}<br>
				Información del Propietario: {{ vehiculo.Info_Propietario }}<br>
			</p>
		{% endfor %}
	</section>
	<footer>
		<p>&copy; Pocket Garage</p>
		<address>
			Contact: pocketgarage@gmail.com
		</address>
	</footer>
</body>
</html>