<!doctype html>
<html lang="en" class="no-js">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Garage</title>
    <meta name="description" content="Todo lo relacionado al mundo automotriz.">
	<link rel="stylesheet" href="{% static 'PocketGarage/css/style1.css' %}" type="text/css">
</head>
<body>
	<header>
		<div id="logo">POCKET GARAGE</div>
		<nav>  
			<ul>
				<li><a href="/PocketGarage/index20.html">Vehículos</a>
				<li><a href="/PocketGarage/index30.html">Repuestos</a>
				<li><a href="/PocketGarage/repuesto.html">Publicar Repuesto</a></li>
				<li><a href="/PocketGarage/vehiculo.html">Publicar Vehiculo</a></li>
				<li><a href="/PocketGarage/publicaciones.html">Mis Publicaciones</a></li>
				<li><a href="/PocketGarage/index1.html">Cerrar Sesion</a></li>
			</ul>
		</nav>
	</header>
	
	<div class="title">
		<h1>BIENVENIDO:</h1>
		<h1>{{ name }}</h1>
	</div>
	<footer>
		<p style="color:white">&copy; Pocket Garage</p>
	</footer>
</body>

</html>
