<!doctype html>
<html lang="en" class="no-js">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>POCKET GARAGE</title>
    <meta name="description" content="Todo lo relacionado al mundo automotriz.">
	<link rel="stylesheet" href="{% static 'PocketGarage/css/style1.css' %}" type="text/css">
</head>
<body>
	<header>
		<nav>  
			<ul>
				<li><a href="/PocketGarage/index2.html">Vehículos</a>
				<li><a href="/PocketGarage/index3.html">Repuestos</a>
				<li><a href="/PocketGarage/register.html">Registrarse</a></li>
				<li><a href="/PocketGarage/login.html">Iniciar Sesion</a></li>
			</ul>
		</nav>
	</header>
	<div class="title">
		<center>
			<h1>POCKET GARAGE</h1>
		</center>	
	</div>
	

	<section>
		<p style="color:white">
		¿Cansado de no poder encontrar el repuesto que necesitas para tu vehículo, de no saber a qué lugar ir a buscar, no saber si estás pagando un precio justo o si lo que estás adquiriendo es original?
		<br>
	</section>

	<section>
		<p style="color:white">No te molestes más, porque tenemos la solución perfecta para tí: Pocket Garage, una plataforma web que reune lo más esencial del mundo automotriz, donde podrás buscar los repuestos que necesitas en la ciudad de La Paz.</p>
		<br>
	</section>
	<section>
		<p style="color:white">Así podrás evitar perder valioso tiempo buscando repuestos en un lado o en otro. También puedes publicar repuestos si eres vendedor o comerciante de los mismos. Dentro de la plataforma también se permite publicar vehículos a la venta, ya sean nuevos o usados
		</p>
	</section>
	<footer>
		<p style="color:white">&copy; Pocket Garage</p>
	</footer>
</body>
</html>