<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PocketGarage/css/style1.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'PocketGarage/css/stylereg.css' %}" type="text/css">
	<title>Login</title>
</head>
<body>
	<div class="log-form">
	<center>
		<h2>Pocket Garage</h2>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_ul }}
			<input type="submit" name="" value="Login">
		</form>
	</center>
	</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>