<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PocketGarage/css/styleloginbest.css' %}" type="text/css">
	<title>Login</title>
</head>
<body>
	<section>
		<div class="container">
		  <div class="login-form">
			<h1>Pocket Garage</h1>
			
				<form method="POST">
					{% csrf_token %}
					{{ form.as_ul }}
					<input type="submit" name="" value="Login">
			
				</form>
			
		  </div>
		</div>
	  </section>
</body>
</html>



