<!DOCTYPE html>
<html>
{% load static %}
<head>
	
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PocketGarage/css/styleloginbest.css' %}" type="text/css">
	<title>Login</title>
	<title>Registro</title>
</head>
<body>
	<section>
		<div class="container">
		  <div class="login-form">
			<center>
			<h2>Registro</h2>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</ul>
			{% endif %}
				<form method="POST">
					{% csrf_token %}
					<anything_else> 
					{% for field in form %}
					<div class="field">
						<label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
						{{ field }}
					</div>
					{% endfor %}
					<input type="submit" name="" value="Registrarse">
				  </center>
				</form>
		  </div>
		</div>
	  </section>
</body>
</html>